[Desktop Entry]
Type=Application
Name=KindBeamer
Comment=Beam PDFs, EPUBs and more to your Kindle devices
Exec=kindbeamer %F
Icon=dev.stkn.kindbeamer
Terminal=false
Categories=Utility;FileTools;
MimeType=application/pdf;application/epub+zip;application/x-mobipocket-ebook;text/plain;text/html;application/msword;application/vnd.openxmlformats-officedocument.wordprocessingml.document;image/png;image/jpeg;image/gif;image/bmp;
StartupWMClass=dev.stkn.kindbeamer
